*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--primary: #4d5ae5;
	--pressed: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--modal-overlay: #2e2f42;
	--hero-bg: #2e2f42b2;
	--white: #ffffff;
	--modal: #fcfcfc;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    border: 0;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.333;
    color: var(--text);
    background: var(--white);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 156px;
    border-bottom: 1px solid var(--accent);
    background-color: var(--white);
}
.header .header-list {
    display: flex;
    gap: 76px;
}
.header .header-list ul {
    display: flex;
    gap: 40px;
}
.header .header-contacts {
    display: block;
}
.header .header-contacts ul{
    display: flex;
    gap: 40px;
}
.wrapper .section {
    padding: 120px 156px;
}
.wrapper .solutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.wrapper .solutions .solutions-title {
    margin-top: 69px;
    max-width: 496px;
}
.wrapper .solutions .btn {
    padding: 16px 32px;
    border-radius: 4px;
    margin-bottom: 69px;
}
.wrapper .skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}
.wrapper .skills ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 264px;
}
.wrapper .skills h2 {
    display: none;   
}
.wrapper .team {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.wrapper .team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.wrapper .team ul li {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 8%),
                                    0px 1px 1px rgba(46, 47, 66, 16%),
                                    0px 2px 1px rgba(46, 47, 66,  8%);
}
.wrapper .team ul li h3 {
    margin-top: 24px;
}
.wrapper .team ul li p {
    margin-top: 8px;
    margin-bottom: 32px;
}
.wrapper .portfolio {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.wrapper .portfolio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.wrapper .portfolio ul li h3 {
    margin-top: 27px;
    margin-left: 16px;
}
.wrapper .portfolio ul li p {
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary);
}
.logo .logo-part {
    color: var(--dark);
}
nav ul li a {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
address {
    font-style: normal;
}
address ul li a {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--text);
}
nav ul li a:hover,
address ul li a:hover,
nav ul li a:focus,
address ul li a:focus {
    color: var(--pressed);
}
header ul li a:active, header ul li a:focus {
    border-color: var(--pressed);
}
.btn {
    font-weight: 500;
    color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary);
}
.btn:hover, .btn:focus {
    cursor: pointer;
    background-color: var(--pressed);
}
section {
    background-color: var(--white);
}
.solutions {
    background-color: var(--dark);
}
h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.team {
    background-color: var(--light);
}
.team ul li {
    text-align: center;
    background-color: var(--white);
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 100px 156px;
    background-color: var(--dark);
}
.footer .footer-text {
    max-width: 264px;
    color: var(--light);
}
.footer .logo .logo-part {
    color: var(--light);
}